body {
    background-image: url("/assets/images/fabric_of_squares_gray_@2X.png");
}
.name {
    width: auto;
    height: 75px;
    float: left;
    padding-top: 15px;
    padding-left: 260px;
    font-size: 70px;
    color: rgb(28, 179, 28);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Times New Roman';
}
.header {
    overflow: hidden;
    padding: 20px;
    padding-left: 95px;
    background-color: rgb(213, 213, 219);
}
.mission {
    position: absolute;
    top: 112px;
    left: 540px;
    color: rgb(82, 82, 179);
    font-family: 'Times New Roman';
}

.realTime {
    position: absolute;
    top: 112px;
    left: 670px;
    color: rgb(82, 82, 179);
    font-family: 'Times New Roman';
}

.news {
    position: absolute;
    top: 112px;
    left: 760px;
    color: rgb(82, 82, 179);
    font-family: 'Times New Roman';
}

h2 {
    color: black;
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

.content {
    background-color: rgb(213, 213, 219);
    display: block;
    width: 800px; 
    height: 300px;     
    position: relative;
    top: 15px;
    left: 60px;
    margin: 70px;
    color: black;
    font-family: 'Times New Roman';
    border: 5px solid rgb(4, 4, 104);
}
p {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 25px;
}
.content2 {
    background-color: rgb(213, 213, 219);
    display: block;
    width: 200px; 
    height: 300px;     
    position: relative;
    top: -364px;
    left: 915px;
    margin: 70px;
    color: black;
    font-family: 'Times New Roman';
    border: 5px solid rgb(7, 85, 7);
}
.content3 {
    background-color: rgb(213, 213, 219);
    display: block;
    width: 1055px; 
    height: 200px;     
    position: relative;
    top: -355px;
    left: 60px;
    margin: 70px;
    color: black;
    font-family: 'Times New Roman';
    border: 5px solid rgb(7, 85, 7);
}

.crypto {
    font-size: 25px;
}

h3 {
    font-family: 'Times New Roman';
    font-size: 25px;
    padding-top: 25px;
    padding-left: 10px;
}

#inputSearch {
    width: 90%;
    padding: 10px 10px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid rgb(53, 51, 51);
    border-radius: 4px;
    box-sizing: border-box;
}

#button {

    background-color: rgb(213, 213, 219);
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Times New Roman';
    border-radius: 6px;

}
.content4 {
    background-color: rgb(213, 213, 219);
    display: block;
    width: 1000px; 
    height: 600px;     
    position: relative;
    top: 15px;
    left: 140px;
    margin: 70px;
    color: black;
    font-family: 'Times New Roman';
    border: 5px solid rgb(4, 4, 104);

}

.textInput {
    border-radius: 5px;
    background-color: #150388;
    padding: 20px;
}

.word {
    color: green;
    font-style: italic;
}