body {
    background-image: url("/assets/images/blackorchid_@2X.jpg");
}
.name {
    width: auto;
    height: 75px;
    float: left;
    padding-top: 15px;
    padding-left: 260px;
    font-size: 70px;
    color: rgb(28, 179, 28);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Times New Roman';
}
.header {
    overflow: hidden;
    padding: 20px;
    padding-left: 95px;
    background-color: black;
}
.mission {
    position: absolute;
    top: 115px;
    left: 540px;
    background-color: black;
    color: rgb(142, 142, 151);
    font-family: 'Times New Roman';
}

.realTime {
    position: absolute;
    top: 115px;
    left: 670px;
    background-color: black;
    color: rgb(142, 142, 151);
    font-family: 'Times New Roman';
}

.news {
    position: absolute;
    top: 115px;
    left: 760px;
    background-color: black;
    color: rgb(142, 142, 151);
    font-family: 'Times New Roman';
}

h2 {
    color: white;
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

.content {
    background-color: black;
    display: block;
    width: 800px; 
    height: 300px;     
    position: relative;
    top: 15px;
    left: 60px;
    margin: 70px;
    color: white;
    font-family: 'Times New Roman';
    border: 2px solid rgb(4, 4, 104);
}
p {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
}
.content2 {
    background-color: black;
    display: block;
    width: 200px; 
    height: 300px;     
    position: relative;
    top: -359px;
    left: 915px;
    margin: 70px;
    color: white;
    font-family: 'Times New Roman';
    border: 2px solid rgb(7, 85, 7);
}
.content3 {
    background-color: black;
    display: block;
    width: 1055px; 
    height: 200px;     
    position: relative;
    top: -355px;
    left: 60px;
    margin: 70px;
    color: white;
    font-family: 'Times New Roman';
    border: 2px solid rgb(7, 85, 7);
}

.crypto {
    font-size: 25px;
}